# dependencies
node_modules/

# build
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# coverage
coverage/
.nyc_output/

# supabase
supabase/.branches/
supabase/.temp/

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# vercel
.vercel/
